body, html {
    height: 100%;
    width: 100%;
    background-color: #35383D;
}

nav {
    background-color: #FF1A56;
    /*background-color: #3fe8d9;*/
}

.card {
    width: 27%;
    margin: 0.5em 3%;
    display: inline-block;
}
