<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sniffer</title>
        <link rel="stylesheet" href="icons/material.css">
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app">
            <div>
                <nav>
                    <div class="nav-wrapper container">
                        <a href="#" class="brand-logo center">Sniffer!</a>
                        <ul id="nav-mobile" class="right">
                            <li class="active"><a href="#" v-on:click="action">
                                {{actionButton}}</a></li>
                            <li><a href="#settingsModal" class="modal-trigger">Settings</a></li>
                            <li><a href="#" v-on:click="clean">Clean</a></li>
                        </ul>
                        <ul id="nav-mobile" class="left">
                            <li v-if="packets.length">
                                Displaying {{packets.length}} packets
                            </li>
                            <li v-if="!packets.length">
                                No packets to display
                            </li>
                        </ul>
                    </div>
                </nav>
                <div id="settingsModal" class="modal">
                    <div class="modal-content">
                        <h4>Settings</h4>
                        <p>Define some stuff!</p>
                        <div class="row center-align">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="device" v-model="device" type="text"/>
                                        <label for="device">Device</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="filter" v-model="filter" type="text"/>
                                        <label for="filter">Filter</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Ok!</a>
                    </div>
                </div>
            </div>

            <div class="packets">
                <div class="row" v-if="!packets.length">
                    <br />
                    <br />
                    <img class="col s8 offset-s2" src="img/wumpus.png"/>
                </div>
                <div class="card" v-for="packet in packets">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" :src="packet.img"/>
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Packet<i class="material-icons right">more_vert</i></span>
                      <!-- <p>{{packet}}</p> -->
                    </div>
                    <div class="card-reveal row">
                        <span class="card-title grey-text text-darken-4">Packet<i class="material-icons right">close</i></span>
                        <div class="col s12">
                            <h5>Link layer: {{packet.linkLayer.name}}</h5>
                            <ul>
                                <li>
                                    <strong>Source MAC addr:</strong> {{packet.linkLayer.srcMac}}
                                </li>
                                <li>
                                    <strong>Destination MAC addr:</strong> {{packet.linkLayer.destMac}}
                                </li>
                                <li>
                                    <strong>Type:</strong> {{packet.linkLayer.type.id}} ({{packet.linkLayer.type.name}})
                                </li>
                            </ul>
                            <hr />
                            <div v-if="packet.networkLayer.name == 'ARP'">
                                <h5>ARP</h5>
                                <ul>
                                    <li>
                                        <strong>Operation code:</strong> {{packet.networkLayer.opcode.id}} ({{packet.networkLayer.opcode.type}})
                                    </li>
                                    <li v-if="packet.networkLayer.opcode.id == 1">
                                        Who has {{packet.networkLayer.targetProtocolAddress}}? Tell {{packet.networkLayer.senderProtocolAddress}}
                                    </li>
                                    <li v-if="packet.networkLayer.opcode.id == 2">
                                        {{packet.networkLayer.senderProtocolAddress}} is at {{packet.networkLayer.senderHardwareAddress}}
                                    </li>
                                </ul>
                            </div>
                            <div v-if="packet.networkLayer.name == 'IPV4'">
                                <h5>Network layer: {{packet.networkLayer.name}}</h5>
                                <ul>
                                    <li>
                                        <strong>Source IP addr:</strong> {{packet.networkLayer.srcIp}}
                                    </li>
                                    <li>
                                        <strong>Destination IP addr:</strong> {{packet.networkLayer.destIp}}
                                    </li>
                                    <li>
                                        <strong>Protocol:</strong> {{packet.networkLayer.protocol.id}} ({{packet.networkLayer.protocol.name}})
                                    </li>
                                </ul>
                            </div>
                            <div v-if="packet.networkLayer.name == 'IPV6'">
                                <h5>Network layer: {{packet.networkLayer.name}}</h5>
                                <ul>
                                    <li>
                                        <strong>Source IP addr:</strong> {{packet.networkLayer.srcIp}}
                                    </li>
                                    <li>
                                        <strong>Destination IP addr:</strong> {{packet.networkLayer.destIp}}
                                    </li>
                                    <li>
                                        <strong>Protocol (next header):</strong> {{packet.networkLayer.nextHeader.id}} ({{packet.networkLayer.nextHeader.name}})
                                    </li>
                                </ul>
                            </div>
                            <hr />
                            <div v-if="packet.networkLayer.name != 'ARP'">
                                <h5>Transport layer: {{packet.transportLayer.name}}</h5>
                                <ul>
                                    <li>
                                        <strong>Source Port:</strong> {{packet.transportLayer.srcPort}}
                                    </li>
                                    <li>
                                        <strong>Destination Port:</strong> {{packet.transportLayer.destPort}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/lib/vue.js"></script>
        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/materialize.min.js"></script>
        <script>
            $(document).ready(() => {
                $(".modal-trigger").leanModal();
            });
        </script>
        <script src="socket.io/socket.io.js"></script>
        <script>
        var socket = io();
        </script>
        <script src="js/base.js"></script>
    </body>
</html>
